<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>../logs/metaserver_today.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS}]-[%5level]-[thread: %thread] - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>../logs/archived/metaserver.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%yellow(%d{yyyy-MM-dd HH:mm:ss:SSS})]-[%highlight(%5level)]-[%boldCyan(%thread)] - %boldWhite(%msg%n)</pattern>
        </encoder>
    </appender>

    <!--<appender name="HTML_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender" >-->

        <!--<file>logs/metaserver_logs.html</file>-->

        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
            <!--<layout class="ch.qos.logback.classic.html.HTMLLayout">-->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS}%level%thread%msg</pattern>-->
            <!--</layout>-->
        <!--</encoder>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily &ndash;&gt;-->
            <!--<fileNamePattern>logs/archived/metaserver_logs.%d{yyyy-MM-dd}.%i.html</fileNamePattern>-->
            <!--<maxFileSize>10MB</maxFileSize>-->
            <!--<maxHistory>7</maxHistory>-->
        <!--</rollingPolicy>-->

    <!--</appender>-->


    <root level="info">
        <appender-ref ref="FILE_APPENDER" />
        <appender-ref ref="CONSOLE" />
        <!--<appender-ref ref="HTML_APPENDER" />-->
    </root>

</configuration>